<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div class="container">
        <div class="header">
            <h1 th:text="${title}"></h1>
            <nav th:replace="fragments :: navigation"></nav>
        </div>

        <div class="studentTable">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Department</th>
                </tr>
                <tr th:each="list : ${studentList}">
                    <td th:text="${list.studentId}"></td>
                    <td th:text="${list.Name}"></td>
                    <td th:text="${list.Email}"></td>
                    <td th:text="${list.depertmentDetails.DeptName}"></td>
                </tr>
            </table>
            <a class="btn btn-success" href="/Student/addStudent">Add Student</a>
            <a class="btn btn-danger" href="/Student/removeStudent">Remove Student</a>
        </div>
    </div>
</body>
</html>