<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div class="container">
        <div class="header">
            <h1 th:text="${title}"></h1>
            <nav th:replace="fragments :: navigation"></nav>
        </div>
        <div class="addCourse">
            <form action="" method="post" th:object="${courseDetails}">
                <div class="form-group">
                    <label th:for="courseCode">Course Code</label>
                    <input class="form-control" th:field="*{courseCode}"/>
                    <span class="errorField" th:errors="*{courseCode}"></span>
                </div>
                <div class="form-group">
                    <label th:for="courseTitle">Course Title</label>
                    <input class="form-control" th:field="*{courseTitle}" />
                    <span class="errorField" th:errors="*{courseTitle}"></span>
                </div>
                <div class="form-group">
                    <label th:for="courseCredit">Select Credit</label>
                    <select class="form-control" th:field="*{courseCredit}" >
                        <option value="1">1</option>
                        <option value="3">3</option>
                    </select>
                </div>

                <input class="btn btn-success" type="submit" value="Add Course" />
            </form>
        </div>
    </div>

</body>
</html>