<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head" ></head>
<body>
    <div class="container">
        <div class="header">
            <h1 th:text="${title}"></h1>
            <nav th:replace="fragments :: navigation"></nav>
        </div>
        <div class="depertmentList">
            <ul class="deptList">
                <li th:each="deptList : ${deptList}"><a th:href="@{/Student/asDepertment(deptId=${deptList.Id})}" th:text="${deptList.DeptName}"></a></li>
            </ul>
            <a class="btn btn-success" href="/Depertment/addDepertment">Add Department</a>
        </div>
    </div>
</body>
</html>