body{
    margin: 0;
}
input[type="checkbox"] {
    cursor: pointer;
}
.loginPage{
    width:  30%;
    margin: auto;
    margin-top: 100px;
    background-color: #3498db;
    color: #FFFFFF;
    padding: 3%;
    min-height: 400px;
}
.header{
    background-color: #3498db;
    overflow: hidden;
    padding: 0px 20px 20px 20px;
}
.header .left{
    float: left;
    width: 70%;
    color: #FFFFFF;
}
.header .right{
    width: 30%;
    float: left;
    display: block;
    text-align: right;
}
.header .right a{
    margin-top: 22px;
    text-decoration: none;
    color: #FFFFFF;
}
.full-content{
    margin-top: 20px;
    overflow: hidden;
}
.full-content .left{
    float: left;
    width: 20%;
    overflow: hidden;
    background-color: #3498db;
    padding: 20px;
}
.full-content .right{
    float: left;
    display: block;
    width: 78%;
    min-height: 300px;
    overflow: hidden;
    background-color: #3498db;
    margin-left: 2%;
    padding: 20px;
}
.table{
    border: 1px solid #d8d8d8;
    font-size: 18px;
    color: #FFFFFF;
}
.table tr th,
.table tr td{
    border-right: 1px solid #d8d8d8;
}
.productTable .table tr th,
.productTable .table tr td{
    width: 20%;
}
.table tr th:last-child,td:last-child{
    border-right: none;
}
.errors{
    margin-top: 10px;
    color: #c3ff00;
    padding: 4px 10px;
    display: block;
}
.customButton{
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0 5px;
    color: #FFFFFF;
    background-color: transparent;
    padding: 10px 50px 10px 40px;
    border: 2px solid #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
}
.customButton:after {
    content: '\2192';
    clear: both;
    display: block;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    top: 0;
    right: -20%;
    line-height: 35px;
    transition: .2s;
}
.customButton:hover:after{
    right: 13px;
}

.main-menu{

}
.main-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-menu ul li{
    margin: 5px;
}
.main-menu ul li a{
    display: block;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.main-menu ul li a{
    display: inline-block;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.main-menu ul li a:hover{
    color: #ecf0f1;
}
.selector{
    overflow: hidden;
    float: left;
    margin: 0 0 20px 0;
    width: 20%;
}
.selector select{
    height: 40px;
    background: transparent;
    font-size: 16px;
    border: 2px solid #FFFFFF;
}
.Show{
    overflow: hidden;
}