<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments :: header"></div>

        <div class="full-content">
            <div class="left">
                <nav th:replace="fragments :: admin-nav"></nav>
            </div>
            <div class="right">
                <div class="addProductHead">
                    <h4> Add Product </h4>
                </div>
                <div class="addProductForm">
                    <form  action="" method="post" th:object="${product}">
                        <div class="form-group">
                            <label th:for="productName">Product Name</label>
                            <input class="form-control" th:field="*{productName}" />
                            <span class="errors" th:errors="*{productName}"></span>
                        </div>
                        <div class="form-group">
                            <label th:for="productPrice">Product Price</label>
                            <input class="form-control" th:field="*{productPrice}"/>
                            <span class="errors" th:errors="*{productPrice}"></span>
                        </div>

                        <button class="customButton" type="submit">Add Product</button>

                    </form>
                </div>
            </div>
        </div>
</div>
</body>
</html>